{

  "datacenter": "Dev",
  "data_dir": "/tmp/consul",
  "log_level": "INFO",
  "enable_script_checks": true,
  "client_addr": "0.0.0.0",

{% if (agent == 'server') %}
  "server": true,
  "bootstrap_expect": 1,
  "node_name": "{{ node_name }}",
  "bind_addr": "{{ consul_server_ip }}"
{% else %}
  "server": false,
  "node_name": "{{ node_name }}",
  "bind_addr": "{{ consul_client_ip }}",
  "retry_join": ["{{ consul_server_ip }}"],
  "retry_interval": "10s",
  "ui": true,
  "service": {
    "id": "{{ node_name }}",
    "name": "{{ node_name }}",
    "port": 80,
    "check": {
      "http": "http://localhost:80",
      "interval": "10s"
    }
  }
{% endif %}

}
